@mixin box-shadow($definition) {
  -webkit-box-shadow: $definition;
  -moz-box-shadow: $definition;
  box-shadow: $definition;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -webkit-background-clip: padding-box;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin font-size($size_in_px) {
  font-size: ($size_in_px)+px;
  font-size: ($size_in_px/10)+rem;
}

@mixin line-height($size_in_px) {
  line-height: ($size_in_px)+px;
  line-height: ($size_in_px/10)+rem;
}

@mixin user-select($definition) {
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
}

@mixin transition($definition) {
  -webkit-transition: $definition;
  -moz-transition: $definition;
  -o-transition: $definition;
  transition: $definition;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}