/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }
  html font, body font, div font, span font, object font, iframe font, h1 font, h2 font, h3 font, h4 font, h5 font, h6 font, p font, blockquote font, pre font, abbr font, address font, cite font, code font, del font, dfn font, em font, img font, ins font, kbd font, q font, samp font, small font, strong font, sub font, sup font, var font, b font, i font, dl font, dt font, dd font, ol font, ul font, li font, fieldset font, form font, label font, legend font, table font, caption font, tbody font, tfoot font, thead font, tr font, th font, td font, article font, aside font, canvas font, details font, figcaption font, figure font, footer font, header font, hgroup font, menu font, nav font, section font, summary font, time font, mark font, audio font, video font {
    weight: inherit;
    style: inherit;
    family: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background: #eeeeee;
  color: #333333;
  margin: 0;
  padding: 40px; }

/* Base typography */
body {
  font-family: sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.2em;
  font-size: 1em;
  margin-bottom: 20px; }

.ons-chart {
  background-color: white;
  padding: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }
  .ons-chart h1, .ons-chart h2, .ons-chart h3, .ons-chart h4, .ons-chart h5, .ons-chart h6 {
    line-height: 1.2em;
    letter-spacing: -0.03em;
    font-size: 2em;
    margin-bottom: 0.25em; }
  .ons-chart h2, .ons-chart h3, .ons-chart h4, .ons-chart h5, .ons-chart h6 {
    font-size: 1.3em;
    margin-bottom: 0.5em; }
  .ons-chart p {
    margin: 0 0 1em;
    letter-spacing: -0.02em; }
  .ons-chart table {
    border: 1px solid #dddddd;
    background: #fafafa;
    width: 100%;
    border-spacing: 0;
    font-size: 0.9em; }
    .ons-chart table th {
      text-align: left;
      border-bottom: 1px solid #dddddd;
      padding: 3px; }
    .ons-chart table td {
      border-bottom: 1px dotted #dddddd;
      padding: 3px; }
    .ons-chart table tr:nth-child(even) {
      background: white; }
    .ons-chart table tr:last-child td {
      border-bottom: 0; }
