.icon-onsi-clothing {
	background-image: url('png/onsi-clothing.png');
	background-repeat: no-repeat;
}
.icon-onsi-food {
	background-image: url('png/onsi-food.png');
	background-repeat: no-repeat;
}
.icon-onsi-housing {
	background-image: url('png/onsi-housing.png');
	background-repeat: no-repeat;
}
.icon-onsi-recreation {
	background-image: url('png/onsi-recreation.png');
	background-repeat: no-repeat;
}
.icon-onsi-transport {
	background-image: url('png/onsi-transport.png');
	background-repeat: no-repeat;
}
